body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}
.Est{
    background: white;
    padding: 25px 30px;
    width: 350px;
    border-radius: 10px;
}
.Est h2 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
}
.Est input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 15px;
}
.btn {
    width: 100%;
    padding: 20px;
    background: gray;
    color: black;
    border: none;
    font-size: 16px;
    border-radius: 10px;
    transition: 0.3s ease;
}
.btn:hover {
    background: white;
}